#calculator{
    min-height: 350px;
    min-width: 275px;
    margin-top: 2%;
    margin-right: 35%;
    margin-left: 35%;
    background-color: lightslategrey;
}

#buttons{
    padding: 0 25px;
    max-height: 45px;
    display: grid;
    grid-template-columns: auto auto auto;
    flex-wrap: wrap;
    margin: auto auto;
}

#inputs{
    font-size: 28px;
    padding-top: 25px;
    min-height: 35px;
    margin: auto auto;
    display: flex;
    justify-content: center
}

#buttons button{
    min-width: 35px;
    min-height: 25px;
}

