#calculator{
    margin-top: 2%;
}

#buttons{
    width: 29.6%;
    max-height: 45px;
    display: grid;
    grid-template-columns: auto auto auto;
    flex-wrap: wrap;
    margin: auto auto;
}

#inputs{
    min-height: 35px;
    margin: auto auto;
    display: flex;
    justify-content: center
}

#buttons button{
    min-width: 35px;
    min-height: 25px;
}

